.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: rgb(1, 163, 144);
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.logo {
  width: 120px;
  padding: 5px 5px 5px 5px;
}
.nav-item {
  padding: 0 10px 0;
  width: auto;
}
.nav-item > ul {
  display: flex;
  /* padding: 0px 20px; */
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: large;
  cursor: pointer;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
.card:hover {
  border: 1.5px solid black;
  cursor: pointer;
}
.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > span {
  display: flex;
  justify-content: space-evenly;
}

.card > span > h4 {
  text-align: center;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 5px 3px 0;
}

.search {
  padding: 10px;
}
.res-logo {
  padding: 5px;
  width: 100%;
}
